---
import Navigation from "./Navigation.astro";
---
<header class="site-header">
    <div class="container nav">
        <div class="brand">
            <a href="/">URI Industrial & Systems Engineering</a>
            <span>Optimization · Machine Learning · Smart Manufacturing</span>
        </div>
        <Navigation />
    </div>
</header>
